* {
    font-family: 'Figtree', sans-serif;
}

header {
    background-color: rgb(100, 114, 155);
}
a {
    
    font-weight: bold;
}

.forecast-container  {
    margin:20px;
}
.card-body {
    padding:6px;
    
}
.card {
    background-color:rgb(100, 114, 155);
    margin: 10px;
    color:white;
    
}
.temperature, .wind, .humidity {
    margin-top: 15px;
    margin-bottom: 15px;
}
.forecast-container {
    display:none;
    position:relative;
    left:350px;
    bottom:500px;

}
.current-weather {
    background-color:rgb(100, 114, 155);
    width:75%;
    height:fit-content;
    display:none;
    position:relative;
    left:350px; 
    bottom:500px; 
    color:white;
    
}
.current-weather * {
    margin: 5px;
    padding:10px;  

}
.current-weather p {
    font-size:20px;
    font-weight: bold;
    
}

.search-container {
    margin:5px;
    width:300px;
    background-color: lightgray;
    height:500px;
    text-align: center;
    
    
}
.forecast-description {
    margin-left: 5px;
    text-align:start;
    
    
}

.forecast-icon, .weather-icon {
    height:60px;
    margin-bottom: 0px;

}

.d-grid {
    margin-top: 30px;
}

footer {
    background-color: rgb(100, 114, 155);
    display:flex;
    align-items:center;
}

.contact-details li {
    list-style: none;
    margin:20px;
    font-size:25px;
    
}
@media  screen and (max-width: 992px) {
   .current-weather {
    width:350px;

   } 
   .navbar-nav {
    display:flex;

   }
   .main {
    display:flex;
    flex-direction: column;
   }
   .forecast-container {
    display:flex;
    
   }
}