.forecast-container  {
    margin:20px;
}
.card-body {
    padding:10px;
    
}
.card {
    background-color:lightcyan;
    margin: 10px;
    
}
.temperature, .wind, .humidity {
    margin-top: 15px;
    margin-bottom: 15px;
}
.forecast-container {
    display:inline;
    position:relative;
    left:350px;
}
.current-weather {
    background-color:rgb(241, 235, 235);
    width:600px;
    height:fit-content;
    border-radius: 10px;
    position:relative;
    left:600px;
    
}
.current-weather * {
    margin: 15px;

}

.search-container {
    margin:5px;
    width:300px;
    display:inline-block;
    position:relative;
    bottom:600px;
    background-color: lightgray;
    height:500px;
    text-align: center;
    
    
}