.forecast-container  {
    margin:20px;
}
.card-body {
    padding:10px;
    
}
.card {
    background-color:rgb(100, 114, 155);
    margin: 10px;
    color:white;
    
}
.temperature, .wind, .humidity {
    margin-top: 15px;
    margin-bottom: 15px;
}
.forecast-container {
    display:inline;
    position:relative;
    left:350px;
}
.current-weather {
    background-color:rgb(100, 114, 155);
    width:75%;
    height:fit-content;
    position:relative;
    left:360px;
    color:white;
    
}
.current-weather * {
    margin: 5px;
    padding:10px;

}
.current-weather p {
    font-size:20px;
}

.search-container {
    margin:5px;
    width:300px;
    display:inline-block;
    position:relative;
    bottom:750px;
    background-color: lightgray;
    height:500px;
    text-align: center;
    
    
}